body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  background: #9eb7e5;
}
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 15px auto;
}
p {
  position: relative;
  font-weight: 900;
}
img {
  height: 600px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.p2 {
  position: relative;
  top: 660px;
  font-weight: 400;
  padding: 0 30px;
}
.carousel {
  display: flex;
  position: relative;
  top: -60px;
}
.carousel img {
  border: 2px ridge whitesmoke;

  border-radius: 10px;
  max-height: 80%;
}

.dots {
  position: absolute;
  top: 880px;
  margin-top: 50px;
  display: flex;
  cursor: pointer;
  z-index: 10;
}
.dot {
  margin-inline: 5px;

  width: 13px;
  height: 13px;
  background-color: #ffffff00;
  border: 3px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.dot_selected {
  background-color: #fff;
}

.arrow {
  display: flex;
  margin-top: 50px;
  gap: 900px;
  position: absolute;
  top: 850px;
}
.arrow_left,
.arrow_right {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: black;
  font-size: 2em;
  border: 2px solid whitesmoke;
  color: white;
}
